body{
    background-color: #C9D8C5;
}

.main{
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    text-align: center;
}


footer {
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-top: 10px;
}

.links{
    background-color: #e0e7ff;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

.box1{
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 15px;
}

h1{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a {
    color: #fc7569;
    margin-right: 15px;
    text-decoration: none;
}
.temp{
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(3, 1fr); /* 3 rows of 150px height */
    gap: 10px; /* Space between grid items */
    padding: 10px;
    border-radius: 8px;
    justify-content: center;
    height: auto;
    width: auto;

}
p{
    text-decoration: none;
}

h3{
    font-size: 30px;
    margin-bottom: 5px;

}

img{
    border-radius: 15px;
    height: auto;
    width: 800px;
    max-width: 100%;
    border: #abb3a8;
    border-width: 4px;
    border-style: solid;
}
button{
    background-color: #fb5029;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}
title{
    margin: 20px;
    padding: 10px;
}