body {
    background-color: #C9D8C5;
    font-family: Arial, sans-serif;
}

.info{
    background-color: #F3EFE6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.details{
    background-color: #F3EFE6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.para{
    background-color: #F3EFE6;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

footer {
    background-color: #F3EFE6;
    color: #000000;
    padding: 10px;
    text-align: center;
    border-radius: 8px;
    margin-top: 20px;
}

.link{
    text-align: right;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 10px;
}
.nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #7a7368;
    width: fit-content ;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-left: auto;
    margin-top: 10px;
    margin-bottom: 10px;

}
